html, body {background-color: #F5F7F3;
    color: #000000
}

h1 {color: #5CA4A9}
h2 {color: #ED6A5A}
h3 {color: #9BC1BC}
h4 {color: #9BC1BC}

h1 {
font-family: 'Paytone One',
sans-serif;
}

h2 {
font-family: 'Rowdies', 
cursive;
}

body {
font-family: 'Urbanist', 
sans-serif;
}

img {
    width: 250px;
    height: 250px;
    border: 3px solid #F1AE8B
}

a{
	text-decoration: none;
}

